# Data Science Tools and Ecosystem

In this notebook. Date Science Tools Ecosystem are summarized.

Create a markdown cell to list data science languages.
1. Python
2. R
3. SQL
4. Julia
5. Java
6. MATLAB
7. C++ etc..;

Create a markdown cell to list data science libraries.

1. SciPy.
2. TensorFlow.
3. NumPy.
4. Pandas.
5. Pytorch.
6. Keras.
7. Matplotlib. etc..;ch.

Create a markdown cell with a table of Data Science tools.
|Science tools|
|---|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below area a few examples of evaluating arithmatic expressaiona in Python.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers 
eval = (3 * 4) + 5
print(eval)

In [ ]:
# In this code cell write an expression that converts 200 minutes into hours.
print(200/6)

In [ ]:
**Objectives:** List popular languages for Data Science.
- Python.
- SQL.
- R.
- Java.
- Julia.

In [ ]:
## Author
name : Esther CarbajalEspino